@mixin sprite-vert-arrow-black4($hide-text: false, $dimensions: true) {
  @if $dimensions {
    width:170px;
    height:15px;
  }
  @if $hide-text {
    @include hide-text;
  }
<<<<<<< HEAD
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=350") 0px -0px no-repeat;
=======
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=668") 0px -0px no-repeat;
>>>>>>> 22d9f88d5e5d1a51034df42236d8d239c11fb655
}
@mixin sprite-vert-arrow-blue-dark1($hide-text: false, $dimensions: true) {
  @if $dimensions {
    width:170px;
    height:15px;
  }
  @if $hide-text {
    @include hide-text;
  }
<<<<<<< HEAD
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=350") 0px -17px no-repeat;
=======
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=668") 0px -17px no-repeat;
>>>>>>> 22d9f88d5e5d1a51034df42236d8d239c11fb655
}
@mixin sprite-vert-arrow-blue-light1($hide-text: false, $dimensions: true) {
  @if $dimensions {
    width:170px;
    height:15px;
  }
  @if $hide-text {
    @include hide-text;
  }
<<<<<<< HEAD
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=350") 0px -34px no-repeat;
=======
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=668") 0px -34px no-repeat;
>>>>>>> 22d9f88d5e5d1a51034df42236d8d239c11fb655
}
@mixin sprite-vert-arrow-green-dark1($hide-text: false, $dimensions: true) {
  @if $dimensions {
    width:170px;
    height:15px;
  }
  @if $hide-text {
    @include hide-text;
  }
<<<<<<< HEAD
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=350") 0px -51px no-repeat;
=======
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=668") 0px -51px no-repeat;
>>>>>>> 22d9f88d5e5d1a51034df42236d8d239c11fb655
}
@mixin sprite-vert-arrow-green-light1($hide-text: false, $dimensions: true) {
  @if $dimensions {
    width:170px;
    height:15px;
  }
  @if $hide-text {
    @include hide-text;
  }
<<<<<<< HEAD
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=350") 0px -68px no-repeat;
=======
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=668") 0px -68px no-repeat;
>>>>>>> 22d9f88d5e5d1a51034df42236d8d239c11fb655
}
@mixin sprite-vert-arrow-red-dark1($hide-text: false, $dimensions: true) {
  @if $dimensions {
    width:170px;
    height:15px;
  }
  @if $hide-text {
    @include hide-text;
  }
<<<<<<< HEAD
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=350") 0px -85px no-repeat;
=======
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=668") 0px -85px no-repeat;
>>>>>>> 22d9f88d5e5d1a51034df42236d8d239c11fb655
}
@mixin sprite-vert-arrow-red-light1($hide-text: false, $dimensions: true) {
  @if $dimensions {
    width:170px;
    height:15px;
  }
  @if $hide-text {
    @include hide-text;
  }
<<<<<<< HEAD
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=350") 0px -102px no-repeat;
=======
  background:url("/sites/default/files/sasson/bfi-sprites/vert-sprite.png?v=668") 0px -102px no-repeat;
>>>>>>> 22d9f88d5e5d1a51034df42236d8d239c11fb655
}
@mixin hide-text {
          display: block;
          border: 0;
          font: 0/0 a;
          text-shadow: none;
          color: transparent;
          background-color: transparent;
        }