/* #############################################
 * ##### Sasson - advanced drupal theming. #####
 * #############################################
 *   
 * BFI theme main stylesheet.
 * 
 * 
 */

/*-----------------------------------------------
           Imports and Definitions
-----------------------------------------------*/
@import "compass/css3";           // Uncomment to use CSS3 mixins (http://compass-style.org/reference/compass/css3/)
@import "960/grid";               // Uncomment to use 960gs mixins (see Sasson's layout partials for examples)
// @import "grid/gridy";             // Uncomment to use gridy mixins (the layout system powering Sasson v3.x)
// @import "partials/mixins";        // Uncomment to call your own mixins partial (check your /partials directory)
// @import "sprites/smart";          // Uncomment to call your 'smart' sprite (check your /images/sprites directory)
@import "sprites/vert";

/*-----------------------------------------------
          General Sitewide Styles
-----------------------------------------------*/

// Grid dimensions
$ninesixty-grid-width: 980px;
$ninesixty-columns: [columns];
$ninesixty-gutter-width: [gutter-width];

// Sidebars widths
$sidebar-first: [sidebar-first];
$sidebar-second: [sidebar-second];

// Basic variables
$margin: 20px;

/* -----  Basic Layout  ----- */

body {
	min-width: 1000px;
}

#back-wrap {
	width: 100%;
	height: 100%;
}

#page {
	width: 980px;
}

#header {
	width: 100%;
	margin: 0;
}

#footer {
	width: 100%;
	margin: 0;
	#footer-inner {
		width: 980px;
		margin: 0 auto;
	}
}

#wrapper {
    width: 95.9184%;
	padding: $margin;
    margin-left: 0;
    margin-right: 0;
	background-color: white;
	-moz-box-shadow:    0 0 5px 5px #e8e8e8;
	-webkit-box-shadow: 0 0 5px 5px #e8e8e8;
	box-shadow:         0 0 5px 5px #e8e8e8;
	overflow: hidden;
}

body.node-type-page,
body.node-type-blog-post {
	#wrapper {
		//padding-bottom: 0;
	} 
}

#main {
	margin-left: 0;
	margin-right: 0;
}

/* -----  Webfonts  ----- */

// DIN - For Body
@font-face {
    font-family: 'pfdintextpro_regular';
    src: url('../fonts/din/pfdintextpro-regular-webfont.eot');
    src: url('../fonts/din/pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/pfdintextpro-regular-webfont.woff') format('woff'),
         url('../fonts/din/pfdintextpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'pfdintextpro_italic';
    src: url('../fonts/din/pfdintextpro-italic-webfont.eot');
    src: url('../fonts/din/pfdintextpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/pfdintextpro-italic-webfont.woff') format('woff'),
         url('../fonts/din/pfdintextpro-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'pfdintextpro_bold';
    src: url('../fonts/din/pfdintextpro-bold-webfont.eot');
    src: url('../fonts/din/pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/pfdintextpro-bold-webfont.woff') format('woff'),
         url('../fonts/din/pfdintextpro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin din { font-family: pfdintextpro_regular, DIN, Gotham; }
//@mixin dini { font-family: pfdintextpro_italic, DIN, Gotham; }
@mixin dinb { font-family: pfdintextpro_bold, DIN, Gotham; }

// Interstate - for headers, etc.
@font-face {
    font-family: 'interstateregular';
    src: url('../fonts/interstate/interstate-regular-webfont.eot');
    src: url('../fonts/interstate/interstate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate/interstate-regular-webfont.woff') format('woff'),
         url('../fonts/interstate/interstate-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interstatebold';
    src: url('../fonts/interstate/interstate-bold-webfont.eot');
    src: url('../fonts/interstate/interstate-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate/interstate-bold-webfont.woff') format('woff'),
         url('../fonts/interstate/interstate-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin interstate { font-family: interstateregular, pfdintextpro_regular, Interstate, DIN, Gotham; }
@mixin interstateb { font-family: interstatebold, pfdintextpro_bold, Interstate, DIN, Gotham; }

// Eames - for meta BFI highlights
@font-face {
    font-family: 'eames_century_modernbold';
    src: url('../fonts/eames/eames_century_modern-bold-webfont.eot');
    src: url('../fonts/eames/eames_century_modern-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eames/eames_century_modern-bold-webfont.woff') format('woff'),
         url('../fonts/eames/eames_century_modern-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin eamesb { font-family: eames_century_modernbold; }

/* -----  More Variables  ----- */

$gray-dark: #111;
$gray-med: #777;
$gray-back: #F0F0F0;
$link-active-menu: black;
$width-content: 700px;
$width-sidebar: 220px;
$color-blue-dark: #3F6E82;
$color-blue-light: #8FD9F9;
$color-green-dark: #009856;
$color-green-light: #97C64E;
$color-red-dark: #EB3F24;
$color-red-light: #E49541; 

/* -----  More Mixins  ----- */

@mixin post-date {
//	@include dini;
	font-style: italic;
	font-size: 12px;
	color: $gray-med;
}

@mixin main-menu-item {
	text-transform: uppercase;
	@include interstateb;
	font-size: 12px;
}

@mixin sidebar-box {
	@include eamesb;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
}

@mixin sidebar-block-title {
	@include din;
	font-size: 12px;
	line-height: 15px;
	color: $gray-dark;
}

@mixin content-title-small {
	@include interstateb;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	color: black;
}

@mixin content-title-med {
	@include interstateb;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	color: black;
}

/* -----  BFI-specific Globals  ----- */

body {
	@include din;
	font-size: 14px;
	line-height: 16px;
//	font-size: 15px;
//	line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
	@include interstateb;
	a {
		color: black;
	}
}

h1, h2, h3, h5 {
	text-transform: uppercase;
}

h1 {
	font-size: 36px;
	line-height: 40px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

h3, h4 {
	font-size: 18px;
	line-height: 20px;
}

h5, h6 {
	font-size: 15px;
	line-height: 18px;
}

p {
	margin-bottom: 1em;
}
/*
p:first-of-type {
	margin-top: 1em;
}

p:last-of-type {
	margin-bottom: 1em;
}
*/
em, i {
	font-style: italic;
}

strong {
	@include dinb;
}

a {
	text-decoration: none;
	color: $color-red-dark;
}

ul.menu {
	li.leaf, li.collapsed, li.expanded {
		padding: 0;
		list-style-type: none;
		list-style-image: none;
	}

}

form {
	textarea,
	select,
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"] {
		@include din;
	}
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"] {
		@include din;
		font-weight: normal;
	}
}

.region-content-attribution, .attribution, .post-date {
	@include post-date;
}

html {
	background-color: $gray-back;
}

#back-wrap {
	background-color: white;
	/* The old syntax, deprecated, but still needed, prefixed, for WebKit-based and old browsers */
	background: -prefix-linear-gradient(top, white, white 75%, $gray-back);
	/* The new syntax needed by standard-compliant browsers (Opera 12.1, IE 10, Fx 16 onwards), without prefix */
	background: linear-gradient(to bottom, white, white 75%, $gray-back);
}

/* -----  Header  ----- */

#wrapper {
	position: relative;
	z-index: 10;
}

#header {
	position: relative;
	z-index: 20;
	margin-top: $margin / 2;
	margin-bottom: $margin / 2;

	#block-views-bfc-site-logo-block {
		float: left;
		padding-bottom: $margin;
	}

	#block-block-8,
	#block-logintoboggan-logintoboggan-logged-in {
		float: right;
		font-size: 12px;
		p { margin: 0;}
	}

	#block-views-exp-bfi-general-search-page {
		float: right;
		clear: right;
		//.views-submit-button { display: none; }
		.views-exposed-form {
			width: 240px;
			.views-exposed-widget {
				padding: 8px 0 0 0;
				.form-text {
					width: 180px;
					line-height: 25px;
					padding-top: 0;
					padding-bottom: 0;
					border: 1px solid #E8E8E8;
					background-color: $gray-back;
				}
				.form-submit {
					margin: 0;
					width: 60px;
				}
			}
		}
	}

	// Overriding Nice Menus CSS Could try doing whitelist, but this works too
	section.block-nice-menus {
		clear: both;
		ul.nice-menu {
			width: 980px;
			border: none;
			position: relative;
			li {
				border: none;
				background-color: white;
				margin: 0 18px 0 0;
				a {
					padding: 0;
					color: $gray-med;
					@include main-menu-item;
				}
			}

			li.active-trail > a, li a.active, a:hover {
				color: $link-active-menu;
			}
			ul {  // Sub items
				border: none;
				background-color: transparent;
				min-width: 180px;
				top: 34px;
				li {
					margin: 0;
					a {
						white-space: nowrap;
						padding: $margin/2 $margin;
					}
				}
			}
		}

		ul.nice-menu > li > a {
			padding: $margin/2;
		}
		ul.nice-menu > li.first > a { padding-left: 0; }
		ul.nice-menu > li.last > a { padding-right: 0; }

		ul.nice-menu > li.last {
			margin: 0;
			float: right;
			position: relative;
			ul {
				margin-left: -70px;

			}
		}

		ul.nice-menu-down li.menuparent { background-image: none; }
	}
}

body.front #header section.block-nice-menus li.home > a,
body.section-challenge #header section.block-nice-menus li.challenge > a,
body.section-dymaxion-forum #header section.block-nice-menus li.dymaxion-forum > a {
	color: $link-active-menu;
}

ul.tabs {
	margin-top: -21px;
	margin-left: 0;
	padding-left: 0;
	font-size: 12px;
	border: 0 !important;
	li a {
		padding: 3px 1em;
		border: 0 !important;
		color: $gray-med;
		background-color: white;
		opacity: .75;
		margin-right: 1px; 
	}
	li a:hover, li a.active, li a.active-trail {
		color: $link-active-menu;
		background-color: white;
		opacity: 1.0;
	}
}

h2#page-title {
	line-height: 24px;
	margin: $margin 0 0;
}

/* -----  Front Page  ----- */
#block-block-3, #block-block-4 {
	height: 60px;
	width: 700px;
	color: white;
	background-color: $color-blue-dark;
	h2 a {
		@include interstate;
		line-height: 60px;
		padding-left: $margin;
		display: block;
		color: white;
	}
}

#block-block-4 {
	background-color: $color-green-light;
}

.region-content {
	.block {
		margin-top: $margin;
	}
}

// Formatting for BFI Highlights and updates on front page
#block-views-bfi-front-slideshow-bfi-up,
#block-views-bfi-front-slideshow-chall-up {
	width: 700px;
}

.view-display-id-bfi_up,
.view-display-id-chall_up {
	overflow: hidden;
}
.view-display-id-bfi_up > .attachment-before,
.view-display-id-chall_up > .attachment-before {
	width: 460px;
	height: 290px;
	float: left;
}
.view-display-id-bfi_up > .view-content,
.view-display-id-chall_up > .view-content {
	width: 200px;
	height: 290px;
	float: right;
	padding: 0 $margin;
	background-color: $gray-back;
	.views-row {
		height: 60px;
		margin: $margin/2 0;
		.image {
			float: left;
		}
		.text {
			float: right;
			width: 110px;
			padding-right: 20px;
			height: 60px;
			overflow: hidden;
			a {
				color: black;
			}
		}
	}
}

body.front #sidebar-second {
	margin-top: 340px;
}

/* -----  Content  ----- */

.messages, .region-content {
	width: 638px;
}

.region-content {
	width: 600px;
	float: left;
	.node {
		.field-body {
			line-height: 17px;
			img.image-content_beta {
				float: left;
				margin: 0 $margin $margin 0;
			}
			img.image-content_alpha {
				margin-bottom: $margin;
			}
			ul, ol { list-style-type: disc; margin-bottom: 1em; }
			ul { list-style-type: disc; padding-left: 1em; }
			ol { list-style-type: decimal; padding-left: 1.5em; }
			h3 {
				margin: 1em 0 .75em;
			}
			hr {
				border: 1px solid $gray-back;
				margin: 1em 0;
			}
		}
		.field-external-file {
			margin-top: $margin;
		}
	}
	margin-bottom: $margin/2;
}
.region-content-social {
	margin: $margin 0;
	float: right;
	width: 79px;
	border-left: 1px solid $gray-back;
	.block {
		padding-left: $margin;
	}
	.block-title {
		@include sidebar-block-title;
	}
	.easy_social_box {
		.fb-like.fb_edge_widget_with_comment.fb_iframe_widget {
			height: 21px;
			overflow: hidden;
			iframe {
				margin-top: -40px;
			}
		}
		.easy_social-widget {
			margin-bottom: $margin/2;
		}
		.easy_social-widget.last {
			margin: 0;
		}
	}
}

.region-content-bottom {
	clear: both;
}


/* -----  Views  ----- */

// Front Slideshow
#views_slideshow_cycle_main_bfi_front_slideshow-block .views-slideshow-cycle-main-frame  {
	height: 340px;
}

// Banner Images
.view-bfi-banner-images.view-display-id-section_name,
.view-bfi-banner-images.view-display-id-section_name2,
.view-bfi-banner-images.view-display-id-section_name3,
.view-bfi-banner-images.view-display-id-section_name4,
.view-bfi-banner-images.view-display-id-search_title,
.view-bfi-banner-images.view-display-id-section_trimtab {
	div.views-row {
		position: relative;
		h1.section-name {
			position: absolute;
			line-height: 60px;
			background-color: white;
			z-index: 15;
			padding: 0 $margin 0 0;
		}
	}
}

// Common block-row formatting for Submenus, front supplementas, search, and literature sources
.view-bfi-submenu-listing,
#block-views-bfi-front-slideshow-bfc-supp,
#block-views-bfi-front-slideshow-bfi-supp,
.view-bfi-general-search,
.view-bfi-lit-rbf-books,
.view-bfi-people-lists {
	width: $width-content;
	.views-row {
		overflow: hidden;
		width: 100%;
		background-color: $gray-back;
		.field-content {
			overflow: hidden;
			width: 100%;
		}
		.field-image {
			overflow: hidden;
			float: left;
		}
		.text {
			float: right;
			padding-right: 80px;
			.title, .title a  {
				@include content-title-med;
			}
			margin: $margin 0 $margin $margin;
			overflow: hidden;
			p:first-of-type {
				margin-top: 1em;
			}
		}
		margin-bottom: $margin;
	}
}

.view-bfi-submenu-listing,
#block-views-bfi-front-slideshow-bfc-supp,
#block-views-bfi-front-slideshow-bfi-supp,
.view-bfi-general-search {
	.views-row {
		height: 220px;
		.text {
			height: 180px;
			width: 250px;
		}
	}
}

#block-views-bfi-front-slideshow-bfc-supp,
#block-views-bfi-front-slideshow-bfi-supp {
	.views-row {
		.text { float: left; }
	}
}

// Submenu-specific
body.page-node-92 {
	#block-views-bfi-submenu-listing-block {
		border-top: 1px solid $gray-back;
		padding-top: $margin;
	}
}

// Front Updates
#block-views-bfi-front-slideshow-bfi-up,
#block-views-bfi-front-slideshow-chall-up {
	.views-row {
		.text {
			@include interstate;
			a { color: $gray-dark; }
		}
	}
}

// General Search
.view-bfi-general-search {
	.views-row {
		height: 140px;
		position: relative;
		.text {
			height: 98px;
			width: 380px;
		}
		.content-type {
			position: absolute;
			top: 0;
			left: 0;
			a {
				padding: $margin/2;
				display: block;
				background-color: white;
				color: black;
				font-size: 10px;
				line-height: 12px;
				@include interstateb;
				opacity: .75;
			}
		}
	}
}

.item-list {
	width: 700px;
	ul.pager {
		li {
			margin: 0 0 0 10px;
		}
		li.first {
			margin: 0;
		}
	}
}

// Literature source lists
body.section-about-fuller .region-content-bottom {
	.block-title {
		margin-top: $margin;
		border-bottom: 2px solid $gray-back;
		margin-bottom: $margin/2;
		text-transform: lowercase;
	}
	#block-views-bfi-lit-rbf-books-intros,
	#block-views-bfi-lit-rbf-books-forewords,
	#block-views-bfi-lit-rbf-books-contributions {
		.block-title {
			text-transform: uppercase;
		}
	}
}

.view-bfi-lit-rbf-books {
	.views-row {
		img { float: left; }
		.text {
			width: 500px;
		}
		p { margin-bottom: 0; }
	}
}

.view-bfi-lit-rbf-other {
	.view-content {
		h3 {
			margin-top: $margin;
			padding-bottom: $margin/4;
			border-bottom: 2px solid $gray-back;
			margin-bottom: $margin/4;
		}
		margin-bottom: $margin;
	}
}

#block-views-bfi-lit-rbf-books-patents-20s,
#block-views-bfi-lit-rbf-books-patents-30s,
#block-views-bfi-lit-rbf-books-patents-40s,
#block-views-bfi-lit-rbf-books-patents-50s,
#block-views-bfi-lit-rbf-books-patents-60s,
#block-views-bfi-lit-rbf-books-patents-70s,
#block-views-bfi-lit-rbf-books-patents-80s {
	.views-row {
		.text {
			padding-right: 80px;
			width: 500px;
			.patent {
			}
			.dates {
				.label {
					font-style: italic;
				}
			}
		}
	}
	.views-row-3 {
		.issued {
			display: none;
		}
	}
}


// Image thumbs at bottom of pages
.view-id-bfi_content_image_thumbs {
	.view-header { @include post-date; }
	tr {
		td { padding-right: $margin; }
		td.col-last { padding-right: 0; }
	}
	margin-bottom: $margin;
}

// Challenge Landing Page + Trimtab formatting
body.page-node-93 #block-views-bfc-landing-page-block,
body.node-type-newsletter .view-bfi-trimtab-sections {
	.view-content {
		overflow: hidden;
		td {
			vertical-align: top;
			background-color: $gray-back;
			width: 0px;
			height: 0px;
			border-right: $margin solid white;
			.image {
				width: 220px;
				height: 140px;
			}
			.views-field-nothing {
				margin: $margin/2 $margin;
				margin-bottom: 0;
				.title a {
					@include content-title-small;
				}
			}
		}
		td.col-last {
			border: 0;
		}
	}
	padding-bottom: $margin;
	border-bottom: 1px solid $gray-back;
	margin-bottom: $margin;
}


body.page-node-93 {
/*
	.region-content-social {
		display: none;
	}
*/
	#block-views-bfc-landing-page-block {
		border-top: 1px solid $gray-back;
		padding-top: $margin;
	}
}



// Trimtab formatting (See above for base)
body.node-type-newsletter {
	.region-content-social, #page-title { display: none; }

	.region-content-bottom { width: 940px; }

	.region-content-bottom .block {
		margin-top: $margin*2;
		.block-title {
			width: 100%;
			border-bottom: 2px solid $gray-back;
			line-height: 24px;
			padding-bottom: $margin/2;
			margin-bottom: $margin;
		}
	}

	.view-bfi-trimtab-sections {
		.view-content {
			tr {
				border-bottom: $margin solid white;
				td {
					.image {
						width: 300px;
						height: 190px;
					}
					.field-title-field {
						@include content-title-small;
					}
				}
			}
			tr.row-last {
				border: 0;
			}
		}
		border: 0;
		padding: 0;
	}

	#block-views-bfi-trimtab-sections-project,
	#block-views-bfi-trimtab-sections-store {
		float: left;
		width: 300px;
		margin-right: $margin;
	}
	#block-block-10 {
		float: right;
		width: 300px;
	}
}

// People Names
body.node-type-person .node-person .field-title-field {
	@include interstateb;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
}

.view-bfi-people-lists {
	.views-row {
		img { float: left; }
		.text {
			padding-right: 80px;
			width: 500px;
			.name-bar {
				width: 100%;
				overflow: hidden;
				position: relative;
			}
			.title { float: left; }
			.position {
				float: right;
				text-align: right;
				@include content-title-small;
				color: $gray-med;
				padding-left: $margin;
			}
			.contact {
				color: $gray-med;
				clear: both;
				text-align: right;
			}
			.body {
				clear: both;
			}
		}
		p { margin-bottom: 0;}
	}
}

// Getting Staff indicator to light up when looking at staff
body.page-node-227,
body.page-node-228,
body.page-node-229,
body.page-node-230,
body.page-node-231 {
	#sidebar-second li.staff a { background: url("../images/arrow-black4.png") no-repeat; }
}

// Getting Board indicator to light up when looking at board
body.page-node-232,
body.page-node-233,
body.page-node-234,
body.page-node-235,
body.page-node-236,
body.page-node-237,
body.page-node-238,
body.page-node-239,
body.page-node-240,
body.page-node-241 {
	#sidebar-second li.board a { background: url("../images/arrow-black4.png") no-repeat; }
}

/* -----  Sidebars  ----- */

#main, #sidebar-second {
	margin-left: 0;
	margin-right: 0;
}

#sidebar-second {
	background-color: white;
	width: 220px;
	padding-left: $margin;
	p { margin: 0; }
	div.region-sidebar-second {
		margin-top: $margin;
		.block {
			margin-bottom: $margin;
			.block-title {
				@include sidebar-block-title;
			}
		}
		section.block {
			border-bottom: 1px solid $gray-back;
		}
		#block-views-bfi-sidebar-views-block-1 {
			border: 0 !important;
			margin-bottom: 0 !important;
		}
		section.block-last {
			border: 0;
			margin-bottom: 0;
		}

		.sidebar-text {
			text-transform: uppercase;
			@include interstate;
			font-size: 24px;
			line-height: 30px;
			width: 100%;
			text-align: center;
			a {
				color: white;
				padding: $margin*1.5 0;
				display: block;
			}
		}
		#block-block-5 {
			background-color: $color-red-dark;
		}
		#block-block-6 {
			background-color: $color-red-light;
		}

		// For outline box formatting at the top of sidebar
		.block-menu-block,
		#block-views-bfi-disciplines-box-block	{
			border: 10px solid $gray-back;
			padding: $margin/2;
			padding-left: 0;
		}

		.block-menu-block {
			ul.menu {
				li.leaf, li.collapsed, li.expanded {
					margin-left: 5px;
					@include sidebar-box;
					display: block;
					padding-top: 3px;
					padding-bottom: 3px;
					a {
						width: 170px;
						display: inline-block;
						padding-left: $margin * .75;
						color: black;
					}
				}
				li.active > a, li > a:hover { background: url("../images/arrow-black4.png") no-repeat; }
				li  ul {
					li {
						a {
							color: $gray-med !important;
							@include main-menu-item;
							letter-spacing: 0;
							max-width: 170px - ($margin * .75);
						}
						ul {
							li {
								a { max-width: 170px - (2 * ($margin * .75)); }
							}
							margin-left: 8px;
						}
					}
					li.first { padding-top: 6px; }
					li.last { padding-bottom: 0; }
					margin-left: 8px;
				}		
			}
		}

		.view-bfi-sidebar-views {
			.views-row { margin-bottom: $margin; }
		}

		#block-views-bfi-disciplines-box-block	{
			.views-row {
				margin-left: 5px;
				.discipline {
					@include sidebar-box;
					a {
						color: black;
						padding-left: $margin * .75;
					}
					a:hover {
						@include sprite-vert-arrow-black4;
						background-repeat: no-repeat;
					}
				}
				.hyphies { @include dinb; }
				.number, .units {
					color: $gray-med;
					text-transform: uppercase;
					font-size: 9px;
				}
				.Art {
					.hyphies { color: $color-red-dark; }
					.discipline a:hover { @include sprite-vert-arrow-red-dark1; }
				}
				.Technology {
					.hyphies { color: $color-blue-light; }
					.discipline a:hover { @include sprite-vert-arrow-blue-light1; }
				}
				.Design {
					.hyphies { color: $color-green-dark; }
					.discipline a:hover { @include sprite-vert-arrow-green-dark1; }
				}
				.Science {
					.hyphies { color: $color-red-light; }
					.discipline a:hover { @include sprite-vert-arrow-red-light1; }
				}
				.Architecture {
					.hyphies { color: $color-green-light; }
					.discipline a:hover { @include sprite-vert-arrow-green-light1; }
				}
				.Engineering {
					.hyphies { color: $color-blue-dark; }
					.discipline a:hover { @include sprite-vert-arrow-blue-dark1; }
				}
			}
		}
	}
}

body.section-dymaxion-forum.page-art, body.taxo-art {
	#sidebar-second #block-views-bfi-disciplines-box-block .Art .discipline a { @include sprite-vert-arrow-red-dark1; }
}
body.section-dymaxion-forum.page-technology, body.taxo-technology {
	#sidebar-second #block-views-bfi-disciplines-box-block .Technology .discipline a { @include sprite-vert-arrow-blue-light1; }
}
body.section-dymaxion-forum.page-design, body.taxo-design  {
	#sidebar-second #block-views-bfi-disciplines-box-block .Design .discipline a { @include sprite-vert-arrow-green-dark1; }
}
body.section-dymaxion-forum.page-science, body.taxo-science {
	#sidebar-second #block-views-bfi-disciplines-box-block .Science .discipline a { @include sprite-vert-arrow-red-light1; }
}
body.section-dymaxion-forum.page-architecture, body.taxo-architecture {
	#sidebar-second #block-views-bfi-disciplines-box-block .Architecture .discipline a { @include sprite-vert-arrow-green-light1; }
}
body.section-dymaxion-forum.page-engineering, body.taxo-engineering {
	#sidebar-second #block-views-bfi-disciplines-box-block .Engineering .discipline a { @include sprite-vert-arrow-blue-dark1; }
}

body.node-type-article #sidebar-second .block-menu-block li.active-trail > a {
	@include sprite-vert-arrow-black4;
	background-repeat: no-repeat;
}

.one-sidebar.sidebar-second {
	#main {
		margin-left: 0;
		margin-right: 0;
		width: 700px;
	}
}

body.node-type-page,
body.node-type-blog-post,
body.node-type-article,
body.node-type-product,
body.node-type-person,
body.node-type-literature-source,
body.node-type-webform,
body.node-type-idea,
body.page-search {
	#sidebar-second {
		margin-top: 270px;
	}
}

body.node-type-newsletter {
	#sidebar-second {
		margin-top: 340px;
	}
}

body.page-search {
	#sidebar-second .region-sidebar-second {
		border: 10px solid $gray-back;
		padding: $margin/2;
		.block-facetapi {
			.block-title {
				color: $gray-med;
			}
			ul {
				margin-bottom: $margin/2;
				li {
					list-style-image: none;
					list-style-type: none;
					margin: 0;
				}
			}
		}
		.block-facetapi {
			margin-bottom: $margin/2;
		}
		.block-last {
			border: 0;
			margin-bottom: 0;
		}
	}
}

/* -----  Footer  ----- */

footer {
	overflow: hidden;
	#footer-inner {
		padding-bottom: $margin*2;
		overflow: hidden;
	}
	background-color: $gray-back;
	.region { display: inline-block; }
	.region-footer-left, .region-footer-right {
		font-size: 12px;
		line-height: 18px;
		.block {
			width: 100px;
			margin: 0 10px;
			float: left;
			.block-title {
				@include main-menu-item;
				line-height: 18px;
			}
		}
	}
	.region-footer-left {
		float: left;
		margin-top: $margin*1.5;
		.block-menu {
			.block-title { display: none; }
			ul.menu {
				li {
					margin: 0;
					a { color: $gray-med; }
				}
				li.first {
					@include main-menu-item;
					a { color: black; }
				}
			}
		}
	}
	.region-footer-right {
		float: right;
		margin-top: $margin*1.25;
		#block-block-7 {
			margin: 6px 0 0;
			width: 130px;
			@include main-menu-item;
			@include interstate;
			font-size: 11px;
			line-height: 14px;
			color: $gray-med;
			a { color: $gray-med; }
			.lower { text-transform: lowercase; }
			p { margin-top: 0; }
		}
		#block-views-bfc-site-logo-footer-social {
			clear: both;
			float: right;
			width: 130px;
			margin: 0;
			.view-content { overflow: hidden; }
			.views-row {
				float: left;
				margin-right: $margin/2;
			}
		}
	}
	.region-footer-bottom {
		clear: both;
		width: 100%;
		margin: $margin $margin/2 0;
		@include post-date;
		p {
			margin: 0;
			padding-bottom: 4px;
		}
		#block-views-bfi-footer-views-sponsors {
			.views-row {
				display: inline-block;
				margin-right: 20px;
			}
		}

	}



}

/* -----  Excludes  ----- */

div.view-bfi-trimtab-item-order {
	div.tabledrag-changed-warning, div.tabledrag-toggle-weight-wrapper {
		display: none !important;
	}

	div.field-newsletter-item-section {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			div.field-name-field-newsletter-item-section {
				label {
					display: none;
				}
			}
		}
	}
}

body.logged-in #block-block-8 { display: none; }
body.page-user-login {
	.tabs {
		display: none;
	}
}

body.page-node-92,
body.page-node-93,
body.page-node-94,
body.page-node-95,
body.page-node-96,
body.page-node-6,
body.page-node-1,
body.page-search {
	h2#page-title {
		display: none;
	}
}

body.section-dymaxion-forum {
	#block-views-bfi-submenu-listing-block,
	#sidebar-second #block-menu-block-1 {
		display: none;
	}
}

body.node-type-article {
	.field-serial-article {
		display: none;
	}
}